In [39]:
# LEEMOS EL DATASET QUE EST√Å EN FORMATO JSON Y LO CONVERTIMOS EN UN DATAFRAME

import pandas as pd

customer_file = 'data/customers.json'
df_json_nested = pd.read_json(customer_file, lines= True)

df_json_nested.head(3)

,fraudulent,customer,orders,paymentMethods,transactions
0,False,"{'customerEmail': 'josephhoward@yahoo.com', 'c...","[{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...","[{'paymentMethodId': 'wt07xm68b', 'paymentMeth...","[{'transactionId': 'a9lcj51r', 'orderId': 'vjb..."
1,True,"{'customerEmail': 'evansjeffery@yahoo.com', 'c...","[{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...","[{'paymentMethodId': 'y3xp697jx', 'paymentMeth...","[{'transactionId': '5mi94sfw', 'orderId': 'nlg..."
2,False,"{'customerEmail': 'andersonwilliam@yahoo.com',...","[{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...","[{'paymentMethodId': '8pneoi03z', 'paymentMeth...","[{'transactionId': 'q3lyvbza', 'orderId': 'yk3..."

In [40]:
# Customer Dataframe
# el valor dentro de cada celda en `Customer` es un json.

from pandas import json_normalize

customers_df = json_normalize(df_json_nested['customer'])
customers_df.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"

In [41]:
# Orders Dataframe
# el valor dentro de cada celda en `orders` es una lista.

orders_nested = pd.DataFrame([md for md in df_json_nested["orders"]])

orders_list=[]
for index,row in orders_nested.iterrows():
    for order in row:
        if order != None:
            orders_list.append(order)           
orders_df = pd.DataFrame(orders_list)

orders_df.head(3)

,orderId,orderAmount,orderState,orderShippingAddress
0,vjbdvd,18,pending,"5493 Jones Islands\nBrownside, CA 51896"
1,yp6x27,26,fulfilled,"5493 Jones Islands\nBrownside, CA 51896"
2,nlghpa,45,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497"

In [42]:
# Transactions Dataframe
# el valor dentro de cada celda en `transactions` es una lista

transactions_nested = pd.DataFrame([md for md in df_json_nested["transactions"]])

transactions_list=[]
for index,row in transactions_nested.iterrows():
    for transaction in row:
        if transaction != None:
            transactions_list.append(transaction)           
transactions_df = pd.DataFrame(transactions_list)

transactions_df.head(3)

  transactionId orderId paymentMethodId  transactionAmount  transactionFailed
0      a9lcj51r  vjbdvd       wt07xm68b                 18              False
1      y4wcv03i  yp6x27       wt07xm68b                 26              False
2      5mi94sfw  nlghpa       41ug157xz                 45              False

In [43]:
# Payment Dataframe
# el valor dentro de cada celda en `payment_methods` es una lista

payment_nested = pd.DataFrame([md for md in df_json_nested["paymentMethods"]])

payment_methods_list=[]
for index,row in payment_nested.iterrows():
    for order in row:
        if order != None:
            payment_methods_list.append(order)           
payment_methods_df = pd.DataFrame(payment_methods_list)

payment_methods_df.head(3)

,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks
1,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks
2,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp

In [44]:
# Fraudulent Dataframe

fraudulent_df = df_json_nested['fraudulent']

fraudulent_df.head(3)

0    False
1     True
2    False
Name: fraudulent, dtype: bool

In [45]:
# Unir / Mergear dataframes

data = pd.concat([customers_df, orders_df, payment_methods_df, transactions_df, fraudulent_df], axis=1)

data.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed,fraudulent
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,vjbdvd,wt07xm68b,18,False,False
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,yp6x27,wt07xm68b,26,False,True
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,nlghpa,41ug157xz,45,False,False

In [46]:
# Transformaci√≥n de columnas

# Vamos a transformar los valores de algunas columnas que parecen √∫nicos para que sean utilizables.

from funpymodeling.exploratory import status 

status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,customerEmail,455,0.730337,0,0.000000,161,object
1,customerPhone,455,0.730337,0,0.000000,168,object
2,customerDevice,455,0.730337,0,0.000000,168,object
3,customerIPAddress,455,0.730337,0,0.000000,165,object
4,customerBillingAddress,455,0.730337,0,0.000000,166,object
5,orderId,145,0.232745,0,0.000000,478,object
6,orderAmount,145,0.232745,0,0.000000,67,float64
7,orderState,145,0.232745,0,0.000000,3,object
8,orderShippingAddress,145,0.232745,0,0.000000,274,object
9,paymentMethodId,281,0.451043,0,0.000000,342,object
10,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
11,paymentMethodType,281,0.451043,0,0.000000,4,object
12,paymentMethodProvider,281,0.451043,0,0.000000,10,object
13,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
14,transactionId,0,0.000000,0,0.000000,623,object
15,orderId,0,0.000000,0,0.000000,478,object
16,paymentMethodId,0,0.000000,0,0.000000,237,object
17,transactionAmount,0,0.000000,0,0.000000,67,int64
18,transactionFailed,0,0.000000,455,0.730337,2,bool
19,fraudulent,455,0.730337,107,0.171750,2,object

In [47]:
# Podemos observar que hay columnas repetidas como ser `orderId` y `paymentMethodId`.
# Procedemos a eliminar los duplicados

data = data.loc[:,~data.columns.duplicated()].copy()

status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,customerEmail,455,0.730337,0,0.000000,161,object
1,customerPhone,455,0.730337,0,0.000000,168,object
2,customerDevice,455,0.730337,0,0.000000,168,object
3,customerIPAddress,455,0.730337,0,0.000000,165,object
4,customerBillingAddress,455,0.730337,0,0.000000,166,object
5,orderId,145,0.232745,0,0.000000,478,object
6,orderAmount,145,0.232745,0,0.000000,67,float64
7,orderState,145,0.232745,0,0.000000,3,object
8,orderShippingAddress,145,0.232745,0,0.000000,274,object
9,paymentMethodId,281,0.451043,0,0.000000,342,object
10,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
11,paymentMethodType,281,0.451043,0,0.000000,4,object
12,paymentMethodProvider,281,0.451043,0,0.000000,10,object
13,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
14,transactionId,0,0.000000,0,0.000000,623,object
15,transactionAmount,0,0.000000,0,0.000000,67,int64
16,transactionFailed,0,0.000000,455,0.730337,2,bool
17,fraudulent,455,0.730337,107,0.171750,2,object

In [48]:
# custmerEmail

# Generalmente solemos recibir mail de clientes que utilizan servicios de mensajer√≠a como `@hotmail`, `@yahoo` y `@gmail`. Esos son los tipos de mail m√°s comunes.

# Vamos a clasificar los mails como `hotmail`, `yahoo`, `gmail` y `weird`. 
# 'weird' son aquellos raros que no responden a los proveedores m√°s conocidos

# Aclaraci√≥n: Esto se puede hacer usando expresiones regulares (Regex) y funciones lambda tambi√©n, pero es m√°s pr√°ctico de seguir / entender lo que hace el programa de la siguiente manera:

email_domains= []
mails= []
popular_providers = ['yahoo', 'gmail', 'hotmail']

for email in data['customerEmail']:
    try:
        """
        Si email = "edvai@yahoo.com"

        aux = yahoo.com
        mail = yahoo
        domain = com
        """
        aux = email.split('@')[1]
        domain = aux.split('.')[1]
        mail = aux.split('.')[0]
        
        if mail in popular_providers:
            mails.append(mail)
        else:
            mails.append('other')
        email_domains.append(domain)
        
    except:
        email_domains.append('weird')
        mails.append('weird')
        # print(email)

# Las listas creadas las convertimos a columnas del dataframe:

data['emailDomain'] = email_domains
data['emailProvider'] = mails

data.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo

In [49]:
# Eliminamos la columna `customerEmail`:

data = data.drop(['customerEmail'], axis=1)

data.head(3)

,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider
0,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo
2,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo

In [50]:
# customerIPAddress

# Por ejemplo, nuestro localhost es 127.0.0.1
# Seg√∫n el protocolo, podemos llegar a tener una subnet mask 255.255.255.255 (la m√°xima cantidad de caracteres num√©ricos), es decir podes alcanzar una longitud de:

longitudIP = 255*255*255*255
print(longitudIP)

4228250625

In [51]:
# Pero hay IPs m√°s extensas (>15) que contienen letras por ejemplo: `67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0`

# Entonces lo que vamos a hacer es crear 2 columnas nuevas dependiendo el tipo de IP: `customerIPAddress` y `digits_and_letters`.

# Aclaraci√≥n: Esto se puede hacer usando expresiones regulares para buscar letras en vez de medir longitud y funciones lambda, pero es m√°s pr√°ctico de seguir / entender lo que hace el programa de la siguiente manera:

In [52]:
IP_addresses = []
for address in data['customerIPAddress']:

    # A veces lo toma como flotante al address
    aux_address = str(address)
    
    if len(aux_address) > 15:
        IP_addresses.append('digits_and_letters')
    else:
        IP_addresses.append('only_numbers')

data['customerIPAddressSimplified'] = IP_addresses

data.head(3)

,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified
0,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers
2,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters

In [53]:
# Eliminamos la columna `customerIPAddress`

data = data.drop(['customerIPAddress'], axis=1)

data.head(3)

,customerPhone,customerDevice,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified
0,400-108-5415,yyeiaxpltf82440jnb3v,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers
2,024.420.0375,4m7h5ipl1shyavt6vv2r,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters

In [54]:
# customerBillingAddress vrs. orderShippingAddress

# Tomar el nombre de la ciudad, de toda la direcci√≥n que tenemos.

def extract_city_name(name_column):
    city_list = []

    for address in data[name_column]:
        try:
            """
            Si address = "5493 Jones Islands\nBrownside, CA 51896"

            aux = "Brownside, CA 51896"
            city_with_number = "CA 51896"
            city = "CA"
            """
            aux = address.split('\n')[1]
            city_with_number = aux.split(', ')[1]
            city = city_with_number.split(' ')[0]
            
            city_list.append(city)
                
        except:
            # Sino aparece el nombre de la ciudad asignamos: unknown
            city_list.append("unknown")
    
    return city_list

data["customerBillingAddress"] = extract_city_name("customerBillingAddress")
data["orderShippingAddress"] = extract_city_name("orderShippingAddress")

data.head(3)

,customerPhone,customerDevice,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified
0,400-108-5415,yyeiaxpltf82440jnb3v,CA,vjbdvd,18.0,pending,CA,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,NM,yp6x27,26.0,fulfilled,CA,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers
2,024.420.0375,4m7h5ipl1shyavt6vv2r,PR,nlghpa,45.0,fulfilled,CA,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters

In [55]:
# Tambi√©n podemos evaluar que la ciudad de `customerBillingAddress` y `orderShippingAddress` coinciden.
# Aclaraci√≥n: Esto se puede hacer usando funciones lambda o np.where, pero es m√°s pr√°ctico de seguir / entender lo que hace el programa de la siguiente manera:

# Vamos a considerar si una de las 2 address al momento de comparar es `unknown`, le asignaremos como resultado `unknown`. Si ambas coinciden asignaremos `yes` y caso contrario `no`.

same_city = []

for index in range(len(data)):
    billing_address = data["customerBillingAddress"][index]
    order_address = data["orderShippingAddress"][index]

    response = "unknown"
    if billing_address != "unknown" and order_address != "unknown":
        if billing_address == order_address:
            response = "yes"
        else:
            response = "no"
    
    same_city.append(response)

data["sameCity"] = same_city

data.head(3)

,customerPhone,customerDevice,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,400-108-5415,yyeiaxpltf82440jnb3v,CA,vjbdvd,18.0,pending,CA,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers,yes
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,NM,yp6x27,26.0,fulfilled,CA,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers,no
2,024.420.0375,4m7h5ipl1shyavt6vv2r,PR,nlghpa,45.0,fulfilled,CA,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters,no

In [56]:
# Con las columnas `customerBillingAddress` y `orderShippingAddress` se podr√≠a hacer un diagrama de flujo o de conexiones geoespacial o representarlo en un mapa.
# Conforme nuestra cartera de clientes crezca y tengamos m√°s ciudades, m√°s posibles valores tomar√°n las columnas `customerBillingAddress` y `orderShippingAddress`. En cambio `sameCity` va a seguir teniendo los mismos 3 posibles valores.
# Bajo ese criterio  vamos a despreciar ambas columnas y solo conservaremos `sameCity`.

data = data.drop(["customerBillingAddress", "orderShippingAddress"], axis = 1)

data.head(3)

,customerPhone,customerDevice,orderId,orderAmount,orderState,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,400-108-5415,yyeiaxpltf82440jnb3v,vjbdvd,18.0,pending,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers,yes
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,yp6x27,26.0,fulfilled,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers,no
2,024.420.0375,4m7h5ipl1shyavt6vv2r,nlghpa,45.0,fulfilled,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters,no

In [57]:
# customerPhone

# El n√∫mero de tel√©fono pr√°cticamente es un identificador √∫nico.
# Pero lo que se podr√≠a hacer es obtener el c√≥digo de √°rea para saber d√≥nde est√° registrado el celular. 
# Por ejemplo: Un n√∫mero "+54 9 261-1234-578", se podr√≠a extraer el primer n√∫mero y buscar de qu√© pa√≠s es. En este caso el +54 corresponde a Argentina y el 261 a la provincia de Mendoza.

# Y de esa manera se podr√≠a corroborar que el n√∫mero del usuario tiene una correspondencia con el pa√≠s o ciudad donde reside la persona.

# En este caso hay un universo de posibilidades en c√≥mo se presenta el dato en `customerPhone` y no registra un patr√≥n. Si tuvieramos m√°s contexto podr√≠amos conservar la columna.
# Por este motivo vamos a eliminar la columna:

data = data.drop(['customerPhone'], axis=1)

data.head(3)

,customerDevice,orderId,orderAmount,orderState,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,yyeiaxpltf82440jnb3v,vjbdvd,18.0,pending,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,com,yahoo,only_numbers,yes
1,r0jpm7xaeqqa3kr6mzum,yp6x27,26.0,fulfilled,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,com,yahoo,only_numbers,no
2,4m7h5ipl1shyavt6vv2r,nlghpa,45.0,fulfilled,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,com,yahoo,digits_and_letters,no

In [59]:
# Identificadores √∫nicos

# Muchas veces en este tipo de productos de prevenci√≥n de fraude se busca reducir la fricci√≥n. Por eso tenemos distintos identificadores del dispositivo del usuario, tracking del producto, etc.
# En este caso tenemos identificadores √∫nicos en las columnas `customerDevice`, `orderId`, `transactionId` y `paymentMethodId`. Por esa raz√≥n los vamos a eliminar.

data = data.drop(['customerDevice', 'orderId', 'transactionId', 'paymentMethodId'], axis=1)

data.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,18.0,pending,True,card,JCB 16 digit,Citizens First Banks,18,False,False,com,yahoo,only_numbers,yes
1,26.0,fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,26,False,True,com,yahoo,only_numbers,no
2,45.0,fulfilled,False,card,VISA 16 digit,Vertex Bancorp,45,False,False,com,yahoo,digits_and_letters,no

In [60]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,67,float64
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
6,transactionAmount,0,0.000000,0,0.000000,67,int64
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailDomain,0,0.000000,0,0.000000,6,object
10,emailProvider,0,0.000000,0,0.000000,5,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

In [61]:
# Guardar dataset como csv

# Guardamos el dataset adaptado con extensi√≥n .csv

filename = "data/customer_dataset.csv"
data.to_csv(filename, index = False)